<section class="mdc-elevation--z4">
    <h3>Service</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item green-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE876;</i>
              </span>
            <span class="mdc-list-item__text">
                Homebridge
                <span class="mdc-list-item__text__secondary">Verwendeter Port {{port}}</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item green-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE876;</i>
              </span>
            <span class="mdc-list-item__text">
                Server
                <span class="mdc-list-item__text__secondary">Verwendeter Port {{console_port}}</span>
            </span>
        </li>
    </ul>
</section>
<section class="mdc-elevation--z4">
    <h3>Laufzeit</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE88B;</i>
              </span>
            <span class="mdc-list-item__text">
                {{uptime.days}}
                <span class="mdc-list-item__text__secondary">Tage</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE88B;</i>
              </span>
            <span class="mdc-list-item__text">
                {{uptime.hours}}
                <span class="mdc-list-item__text__secondary">Stunden</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE88B;</i>
              </span>
            <span class="mdc-list-item__text">
                {{uptime.minutes}}
                <span class="mdc-list-item__text__secondary">Minuten</span>
            </span>
        </li>
    </ul>
</section>
<section class="mdc-elevation--z4">
    <h3>CPU</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE30D;</i>
              </span>
            <span class="mdc-list-item__text">
                {{cpu}}%
                <span class="mdc-list-item__text__secondary">Auslastung</span>
            </span>
        </li>
    </ul>
</section>
<section class="mdc-elevation--z4">
    <h3>Speicher</h3>
    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list status-icon">
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE322;</i>
              </span>
            <span class="mdc-list-item__text">
                {{mem.total}} GB
                <span class="mdc-list-item__text__secondary">Verfügbar</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE322;</i>
              </span>
            <span class="mdc-list-item__text">
                {{mem.used}} GB
                <span class="mdc-list-item__text__secondary">Verwendet</span>
            </span>
        </li>
        <li class="mdc-list-item status-list">
            <span class="mdc-list-item__start-detail status-item blue-bg" role="presentation">
                <i class="material-icons" aria-hidden="true">&#xE322;</i>
              </span>
            <span class="mdc-list-item__text">
                {{mem.free}} GB
                <span class="mdc-list-item__text__secondary">Frei</span>
            </span>
        </li>
    </ul>
</section>
